#playfield
{
    -fx-background-color: rgba(201, 201, 201, 0.6);
    -fx-background-image: url("img/playfield-bg.png");
    -fx-background-repeat: repeat;

}

#pocetnaStraicaBody
{

}

#topBar
{
    -fx-background-color: rgba(255, 255, 255, 1);
}

#myCards
{
    -fx-background-color: rgba(255, 255, 255, 0.8);

}

#cardBg
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


.imgMyCards
{
    -fx-background-color: #ff0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0);
}

.imgMyCards:hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(255,0,0,0.8), 10, 0, 0, 0);
}

#lblRemainingCards
{
    -fx-border-radius: 20px;
}

.activeCard
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 10, 0, 0, 0);
}

.split-pane-divider {
   -fx-background-color: transparent;
   -fx-cursor: auto;
}

.text-area-color {
    -fx-highlight-fill: #000000;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #000000;
}

.text-field.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.selectedAvatar{
    -fx-effect: dropshadow(three-pass-box, #bfbfbf, 3, 4, 0, 0);
}